* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    color: aliceblue;
    font-family: "Caveat";
}

.left-container {
    width: 40%;
    background-image: url(./imgs/sparkle-65.gif);
    background-color: rgb(33, 17, 39);
}

.content-container {
    border-radius: 20px;
    height: 16vh;
    position: relative; 
    top: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(12, 20, 67, 0.3);
}
.content-container h1{
    font-size: clamp(2rem, -1.5rem + 8vw, 4rem);
    font-family: "Caveat";
    color: white;
    opacity: 90%;
}

.content-container img {
    height: 15vh;
    position: relative;
    right: 10px
}

.right-container {
    width: 60%;
    background-color: rgb(13, 13, 95);
    background-image: url(./imgs/sparkle-65.gif);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.text-container {
    height: 27vh;
    width: 45vw;
    margin-top: 26px;
    font-size: 2.4rem;
    font-family: "Caveat";
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-container {
    height: 43vh;
    width: 55vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    overflow-y: hidden;
}

.account-container { 
    height: 20vh;
    width: 50vw;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-up-container h1 {
    font-size: 2rem;
}

#sign-up {
    display: flex;
    flex-direction: column;
    margin-top: 10px;    
}

#sign-up > div {
    display: flex;
    width: 30vw;
    justify-content: center;
    margin: 15px 0;
    gap: 2rem;
}

#sign-up > div > div {
    display: flex;
    flex-direction: column;
    font-size: large;
}

#sign-up > div > div input:valid{ 
    border: solid 2px rgb(9, 168, 122);
}

#sign-up > div > div input:invalid{ 
    border: solid 2px rgb(209, 18, 95);
}

#sign-up input {
    width: 190px;
    padding: 15px;
    background-color: aliceblue;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    box-shadow: #3a3a3a;
}

#sign-up label {
    font-size: 1.2rem;
}

.buttons input{
    padding: 1.3rem;
    border-radius: 15px;
    position: relative;
    bottom: 29px;
    border: none;
}

.submit:hover{
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: rgb(45, 45, 87);
    color: aliceblue;
}

.buttons {
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons > div {
    font-size: 1.9rem;
    color: aliceblue;
}

a {
    color: lightskyblue;
    text-decoration: none;
}

